@CHARSET "UTF-8";

.file-form-field .file_list .size {
	width: 150px;
}

.file-form-field .file_list .thumb {
	float: left;
	margin-right: 10px;
	padding: 2px;
	background: #ffffff;
	border: 1px solid silver;
}

.file-form-field .file_list .name,
.file-form-field .file_list .delete,
.file-form-field .file_list .size {
	position: relative;
	top: 32px;
}